*{ padding: 0; margin: 0; box-sizing: border-box; }
body{ background-color: #cdcdcd; }
button{
    border: none; outline: none; 
    background-color: transparent;
    cursor: pointer;
}

.list{ 
    position: absolute; top: 50%; left: 50%; 
    transform: translate(-50%, -50%);
    width: 350px; 
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);;
    color: #fff;
    border-radius: 30px; 
    box-shadow: 12px 17px 13px -2px rgba(3,3,3,0.53);
    -webkit-box-shadow: 12px 17px 13px -2px rgba(3,3,3,0.53);
    -moz-box-shadow: 12px 17px 13px -2px rgba(3,3,3,0.53);
}
.title{ padding: 10px; text-align: center; }

.items{ 
    height: 400px; 
    overflow-y: auto; 
    background-color: #ededed; color: #333;
}
.item{ 
    display: flex; 
    justify-content: space-between; 
    padding: 10px 30px; 
}
.item_name{ font-size: 14px; }
.item_delete{ 
    font-size: 16px;
    transition: all 0.3s ease-in;
}
.item_delete:hover{
    color: orangered;
    transform: scale(1.1);
}
.item_divider{ 
    width: 90%; height: 1px; 
    background-color: lightgray; 
    margin: auto;
}

input{ 
    display: block; height: 35px;
    width: 100%; border: none; outline: none;
    font-size: 16px; padding: 0 16px;
}
.add_btn{ 
    width: 100%; text-align: center; padding: 10px 0;
    font-size: 28px; 
    transition: transform 0.3s ease-in;
}
.add_btn i{ 
    padding: 5px 7px; border-radius: 100%; 
    background-color: #fff; 
}
.add_btn:hover{
    transform: scale(1.1);
}